In [5]:
# List
# dictionary
# tuple ()
# set {}
# looping
# function

# list
contoh_list = ["alvin", 12, 12.0, ["david", "dian", {}, (), True]]
print(contoh_list[0])
print(contoh_list[1])
print(contoh_list[-1])

alvin
12
['david', 'dian', {}, (), True]

In [8]:
# Dictionary
contoh_dict = {2: "alvin", "Dua belas": 12, False: 12.0, 3.0: ["david", "dian"], 666: {}, "Tuple": (), "Test": True}
print(contoh_dict[2])
print(contoh_dict["Dua belas"])
print(contoh_dict[False])

alvin
12
12.0

In [9]:
# contoh method di dict: .keys()
contoh_dict.keys()

dict_keys([2, 'Dua belas', False, 3.0, 666, 'Tuple', 'Test'])

In [14]:
# contoh method di list: 
list1 = [2, 3, 4, 1, 5, 6]

In [15]:
list1.append("Alvin")
print(list1)

[2, 3, 4, 1, 5, 6, 'Alvin']

In [16]:
list1.insert(4, "somad")
print(list1)

[2, 3, 4, 1, 'somad', 5, 6, 'Alvin']

In [21]:
list_angka = [1, 2, 4, 6, 3, 1]

list_angka.sort()
print(list_angka)

[1, 1, 2, 3, 4, 6]

In [22]:
list_angka.sort(reverse=True)
print(list_angka)

[6, 4, 3, 2, 1, 1]

In [23]:
list_angka.pop()
print(list_angka)

[6, 4, 3, 2, 1]

In [25]:
list_angka.remove(4)
print(list_angka)

[6, 3, 2, 1]

In [26]:
# tuple
list_angka = [1, 2, 4, 6, 3, 1]
list_angka

[1, 2, 4, 6, 3, 1]

In [28]:
tuple_angka = tuple(list_angka)
type(tuple_angka)

tuple

In [29]:
set_angka = set(list_angka)
set_angka

{1, 2, 3, 4, 6}

In [ ]:
# tuple
tuple_angka = (1, 3, 5, 3, 4, 7)

In [38]:
# add value dictionary
contoh_dict["alvin"] = [100]
print(contoh_dict)

contoh_dict["alvin"].append(200)
print(contoh_dict)

{2: 'alvin', 'Dua belas': 12, False: 12.0, 3.0: ['david', 'dian'], 666: {}, 'Tuple': (), 'Test': True, 'alvin': [100]}
{2: 'alvin', 'Dua belas': 12, False: 12.0, 3.0: ['david', 'dian'], 666: {}, 'Tuple': (), 'Test': True, 'alvin': [100, 200]}

In [42]:
# looping 

for i in range(10):
  print("hai", i + 1)

hai 1
hai 2
hai 3
hai 4
hai 5
hai 6
hai 7
hai 8
hai 9
hai 10

In [46]:
for i in range(0, 20, 4):
  print("hai", i+1)

hai 1
hai 5
hai 9
hai 13
hai 17

In [51]:
# while loop
a = 18
while a <= 20:
  print("somad ke {}".format(a))
  a += 1

somad ke 18
somad ke 19
somad ke 20

In [52]:
# umur user yang di input tidak boleh dibawah 17
while True:
  umur = int(input())
  if umur >= 17:
    break

In [58]:
while True:
  umur = int(input())
  if umur == 17:
    continue
  elif umur > 17:
    break
  print("jika dibawah umur 17 aku muncul")

jika dibawah umur 17 aku muncul
jika dibawah umur 17 aku muncul

In [64]:
# for else
for i in range(0, 20, 1):
  print(i+1)
  if i == 19:
    break
else:
  print("hai kawan")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [74]:
# function 
# def bigger_number(a, b):
#   if a > b:
#     result = a
#   else:
#     result = b
#   return result


def bigger_number(a, b):
  result = b 
  if a > b:
    result = a
  return result

In [75]:
print(bigger_number(2, 3))
print(bigger_number(4, 2))

3
4

In [76]:
for i in contoh_list:
  print(i)

alvin
12
12.0
['david', 'dian', {}, (), True]