In [4]:
# Contoh contoh variabel

a = 10 # integer
b = 3.14 # float
c = "s" # string
d = "somad" # string
e = True # boolean
f = False # boolean
g = [] # list
h = [1, 2, 3] # list
i = {} # dictionary
j = () # tuple

# integer, float, string, boolean, list, dictionary, tuple

In [5]:
# print => untuk debugging 

print(a)

10

In [6]:
print(2+4*3)

14

In [18]:
nama = input("masukkan nama")

In [12]:
# concatination

nama = "somad"
umur = 45
alamat = "bekasi"

In [13]:
print("hai namaku adalah " + nama)
print("hai namaku adalah {}, umurku {}, aku tinggal di {}".format(nama, umur, alamat))
print("Hai namaku adalah", nama ,", aku tinggal di", alamat ,", umurku", umur)

hai namaku adalah somad
hai namaku adalah somad, umurku 45, aku tinggal di bekasi
Hai namaku adalah somad , aku tinggal di bekasi , umurku 45

In [5]:
import math

a = 10
b = 10

# if else

## conditional statement
a == b 
a != b
a <= b
a >= b
a < b
a > b
True and True
True or True

## operator 
a + b
a - b
a * b
a / b
a // b
a ** b
a % b
a ** (1/2)
math.sqrt(a)
math.sin(a)
math.cos(a)
math.tan(a)
math.log(a)

2.302585092994046

In [7]:
# if else 

if a == 10:
  print("a sama dengan 10")
elif a > 10:
  print("a lebih besar dari 10")
else:
  print("a kurang dari 10")

a sama dengan 10